<!--  ./views/index.handlebars -->
<div class="container py-5">

  <div class="row">
    <div class="col-6 col-lg-6 col-xl-6 mx-auto ">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Account Login <i class="fas fa-key"></i></h5>
          <hr>
          <form method="POST" action="/">
            <div class="form-group form-row">
              {{!-- <label for="length" class="col-md-4 col-form-label">
                Email
              </label> --}}
              <div class="col-md-12">
                <input type="email" name="email" class="form-control" id="email" value="{{account.email}}"
                  placeholder="Email">
              </div>
            </div>


            <div class="form-group form-row ">
              {{!-- <label for="exclude-characters" class="col-md-4 col-form-label">
                Password
              </label> --}}
              <div class="col-md-12">
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
              </div>
            </div>

            {{!-- show passowrd here --}}
            {{#if errorMassage}}
            <div class="alert alert-info" role="alert">
              <code>{{errorMassage}}</code>
            </div>
            {{/if}}

            <div>
              <button class="btn btn-success" type="submit">sign in</button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>